/**
 * Custom stylesheet that aggregates all the classes
 * @author: Ashiqur Rahman
 */
/**
 * File to hold layout related classes
 */
.container.header {
  margin-bottom: 1.5rem; }

.image-transitions {
  position: relative;
  height: 450px; }
  .image-transitions .image {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: fadeInOut 4s infinite; }
    .image-transitions .image.image-1 {
      opacity: 1; }
    .image-transitions .image.image-2 {
      opacity: 1;
      animation-delay: 2s; }
    .image-transitions .image.image-3 {
      opacity: 1; }

/**
 * Utility file to hold some text and layout manipulation
 * @author: Ashiqur Rahman
 */
.text-left {
  text-align: left; }
.text-right {
  text-align: right; }
.text-center {
  text-align: center; }
.text-justify {
  text-align: justify; }

.m0 {
  margin: 0; }
.mt0 {
  margin-top: 0; }
.mb0 {
  margin-bottom: 0; }
.ml0 {
  margin-left: 0; }
.mr0 {
  margin-right: 0; }

.p0 {
  padding: 0; }
.pt0 {
  padding-top: 0; }
.pb0 {
  padding-bottom: 0; }
.pl0 {
  padding-left: 0; }
.pr0 {
  padding-right: 0; }

/**
 * Hold the animation related classes
 */
@keyframes fadeInOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/**
 * Styles for the month controls
 */
svg {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.month-controls {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .month-controls span.month {
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem; }
    .month-controls span.month.active {
      font-weight: bold; }

.bubble {
  z-index: 1;
  opacity: 0.7; }
  .bubble .selected {
    fill: #a00c10;
    z-index: 2;
    opacity: 1; }
  .bubble .defocus {
    fill: #aeaeae;
    z-index: 0;
    opacity: 0.1; }

.sentiment-tooltip {
  fill: #2c3e50;
  font-size: 12px; }
  .sentiment-tooltip text tspan:first-child {
    font-weight: bold; }
  .sentiment-tooltip text tspan.tweet-text {
    font-style: italic; }

#topic-visualization svg g.axis.x {
  font-size: 13px; }

/**
 * Style for control elements
 */
.month-range {
  width: 100%;
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0; }
  .month-range::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out; }
    .month-range::-webkit-slider-thumb:hover {
      background: #1abc9c; }
  .month-range:active::-webkit-slider-thumb {
    background: #1abc9c; }
  .month-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out; }
    .month-range::-moz-range-thumb:hover {
      background: #1abc9c; }
  .month-range:active::-moz-range-thumb {
    background: #1abc9c; }
  .month-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c; }

.selected-month {
  position: relative;
  display: block;
  width: 100%; }
  .selected-month span {
    position: absolute;
    display: inline-block;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
    white-space: nowrap;
    transform: rotate(90deg);
    transform-origin: left; }
    .selected-month span:after {
      position: absolute;
      top: 8px;
      left: -7px;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-right: 7px solid #2c3e50;
      border-bottom: 7px solid transparent;
      content: ''; }

::-moz-range-track {
  background: #d7dcdf;
  border: 0; }

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0; }

/*# sourceMappingURL=style.css.map */
